.container {
	width: 100vw;
	padding: 10px 0px 10px 10px;
}

.articlesContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.title {
	margin: 30px;
}