@font-face {
	font-family: "Old London";
	src: url("/fonts/OldLondon.ttf");
}

.header {
	border-bottom: 2px rgb(233, 190, 89) solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 44px;
	font-family: "Old London";
	text-shadow: 1px 1px 0px #000;
}

.logoContainer {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px 0px 30px;
}

.linkContainer {
	width: 500px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
}

.userSection {
	font-size: 22px;
	width: 12vw;
	cursor: pointer;
}

.userSection:hover {
	opacity: 0.8;
}

.date {
	width: 12vw;
	text-align: center;
}

.link {
	width: 150px;
	cursor: pointer;
	text-align: center;
}

.link:hover {
	font-weight: 600;
	color: rgba(233, 190, 89);
}

.registerContainer {
	display: flex;
	margin-bottom: 10px;
	border-top: 0.5px lightgray solid;
}

.registeredContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.registerSection {
	width: 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoutSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerIcons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 12vw;
}
@media screen and ( max-width : 750px ) {
	.logoContainer{
		width: 100%;
		height: auto;
		flex-direction: column;
	}

	.date {
		display: none;
	}
}
@media screen and ( max-width : 600px ) {
	.registerContainer {
		flex-direction: column;
	}
	.registerSection {
		width: 100%;
	}
}
@media screen and ( max-width : 500px ) {
	.title {
		font-size: 24px;
	}
	.linkContainer {
		width: 100%;
	}
}